.App {
  text-align:left;
}

body{
  background-color:white;
  justify-content:left;
  display: flex;
  padding: 20px;
}

select{
  width: 250px;
  height: 26px;;
  font-size: 14px;
  border-radius: 5px;
}

label {
  font-weight: bold;
  display: block;
  text-align:left;
  margin: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: blueviolet;
}

button {
  display: flexbox;
  text-align: center;
  color: white;
  margin: 30px;
  background-color: blue;
  width: 100px;
  height: 40px;
  padding: 6px;
  font-size: 16px;
  line-height: 2px;
  border-radius: 10px;
}

input {
  width: 250px;
  font-size: 14px;
  line-height: 1px;
  border-radius: 5px;
  color:black;
}
div {
  display:flex;
  justify-content: center;
  height:auto;
  font-size: 15px;
  line-height: 2px;
  color: grey;
  background-image: none;
  border-radius: 10px;
}

form{
  display: flexbox;
  justify-content:center;
  margin-top: 50px;
  width: 1000px;
  padding: auto;
  text-align:left;
}

table{
  text-align: right;
}