.App {
  text-align: center;
}

body{
  background-color:white;
  justify-content: center;
  display: flex;
}

label {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-right: 20px;
  margin: 30px;
  /* width: 500px; */
}

h1 {
  align-content: center;
}

button {
  display: flexbox;
  text-align: center;
  color: white;
  margin: 30px;
  background-color: blue;
  width: 100px;
  height: 40px;
  padding: 6px;
  font-size: 16px;
  line-height: 2px;
  border-radius: 10px;
}

input {
  width: 250px;
  font-size: 14px;
  line-height: 1px;
  border-radius: 5px;
}
div {
  display:flex;
  justify-content: center;
  height:auto;
  font-size: 15px;
  line-height: 2px;
  color: grey;
  background-image: none;
  border-radius: 10px;
  padding: 10px;
}
p {
  display: flexbox;
  justify-content: center;
  font-weight: bold;
}
form{
  display: flexbox;
  justify-content:baseline;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  padding: auto;
  text-align: center;
}

input{
  color:black;
}